/* General Elements */

body {
  background-color: #EEE;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  text-decoration: underline;
}

a img {
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #612B29;
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  margin: 3px 0 0 3px;
}

h2 {
  margin: 5px 0 0 5px;
  padding: 6px 0 0 3px;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #612B29;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #000;
  text-decoration: none;
}

.subheader {
  font-size: 50%;
  margin-left: 5px;
}

img {
  margin: 10px;
}

img.inline {
  margin: 0;
}

li ul {
  margin-bottom: 0;
}

code {
  color: #000;
}

/* Sections */

ul.nav {
  margin: 10px 0 0 0;
  font-weight: bold;
  list-style: none;
  font-size: 80%;
}

ul.nav li {
  display: inline;
  margin: 0;
  padding: 0 8px 0 9px;
}

ul.nav li a {
  display: inline;
}

ul.nav img {
  margin: 0;
}

footer p {
  margin-top: 5px;
  margin-bottom: 0;
}

.block, .sidebar, .page {
  background-color: #FFF;
  padding: 0 5px 5px 5px;
  margin-top: 20px;
  height: 295px;
  -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.25);
  box-shadow: 0px 0px 2px rgba(0,0,0,.25);
}

.block.bottom {
  height: 225px;
}

header.block {
  padding: 8px 5px;
  margin-top: 0;
  height: 40px;
}

header h1 {
  margin: 0 0 0 5px;
  font-size: 190%;
}

header h1 a {
  color: #523E49;
}

header h2 {
  font-size: 100%;
  margin: 0 10px;
}

header.block.minimal {
  padding: 3px 5px 8px 5px;
  height: 20px;
}

footer {
  text-align: right;
}

footer p {
  font-size: 70%;
}

.block ul {
  list-style: none;
  margin: 10px 0;
}

.block ul li {
  margin-left: 16px;
}

.twitter {
  padding-left: 40px;
  background: transparent url(/images/twitter_newbird_white.png) 0 50% no-repeat;
}

/* GitHub section */

.code h3 {
  margin: 0;
  font-weight: bold;
}

ul.code {
  margin-top: 0;
}

ul.code li {
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
  margin: 0 0 2px 10px
}

ul.code li:last-child {
  border-bottom: 0;
}

ul.code li:last-child {
  border-bottom: 0;
}

.code p {
  margin-bottom: 0;
  line-height: 93%;
}

.github h3 {
  font-size: 100%;
  margin-bottom: 0;
  display: inline;
}

.github a {
  text-decoration: none;
  font-family: Trebuchet, Tahoma, Arial, sans-serif;
  font-size: 75%;
}

.github p {
  font-size: 75%;
}

.meta {
  display: inline;
  float: right;
}

.forks, .watchers {
  width: 20px;
  display: inline-block;
  padding-right: 20px;
  text-align: right;
}

.forks {
  background: url(/images/forks.png) right top no-repeat;
}

.watchers {
  background: url(/images/watchers.png) right top no-repeat;
}

/* Other blocks */

#email {
  padding-left: 40px;
  background: transparent url(/images/email.png) 0 50% no-repeat;
}

#irc {
  padding-left: 40px;
  background: transparent url(/images/irc.png) 0 50% no-repeat;
}

#google-voice {
  margin-top: 10px;
}

/* Photo grid */

#photo-grid {
}

#photo-grid img {
  margin: 5px 10px;
}

/* Posts list */

.posts {
  text-decoration: none;
  font-size: 14px;
}

.posts a:hover {
  text-decoration: underline;
}

/* Post page */

.post h1 {
  border-bottom: 1px solid #EEE;
  margin: 10px 0;
  font-size: 140%;
}

.post h2, h3, h4 {
  font-weight: normal;
}

.page {
  background-color: #FFF;
  height: 100%;
  padding: 5px 15px;
}

.post p {
  line-height: 1.5em;
  margin: 10px 0;
}

.post .date {
  color: #888;
}

