---
layout: default
---

<section class="portfolio">
    <div class="content-wrap portfolio-wrap">

        {% for project in site.projects reversed %}
        <div class="portfolio-item">
            <a class="portfolio-item__link" href="{{ project.url | relative_url }}">
                <div class="portfolio-item__image">
                    {% capture image_path %}{{ project.featured_image | relative_url }}{% endcapture %}
                    {% capture image_alt %}{{ project.title }} {% endcapture %}
                    {% include picture_tag.html path=image_path alt=image_alt %}
                </div>

                <div class="portfolio-item__content">
                    <div class="portfolio-item__info">
                        <h2 class="portfolio-item__title">{{ project.title }}</h2>
                        <p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</section>
