---
layout: default
title: Christopher Peplin
---

<div class="grid_5"><header class="block">
    <h1><a href="/">Christopher Peplin</a></h1>
</header></div>
<div class="clear"></div>

<div class="grid_4"><div class="block">
    <h2><a href="https://github.com/peplin" target="_blank">Code <span class="subheader">more</span></a></h2>
    <ul class="code">
        <li class="github">
            <section class="description">
                <h3><a href="https://github.com/bueda/ops">Ops (Fabric scripts)</a></h3>
            </section>
        </li>
        <li class="github">
            <section class="description">
            <h3><a href="https://github.com/peplin/astral">Astral</a></h3>
            </section>
        </li>
        <li class="github">
            <section class="description">
            <h3><a href="https://github.com/peplin/rdiosync">Rdiosync</a></h3>
            </section>
        </li>
        <li class="github">
            <section class="description">
                <h3><a href="https://github.com/peplin/spade">Spade</a></h3>
            </section>
        </li>
        <li class="github">
            <section class="description">
                <h3><a href="https://github.com/peplin/scrapescrobbler">Scrapescrobbler</a></h3>
            </section>
        </li>
    </ul>
</div></div>

<div class="grid_4"><div class="block">
    <h2><a href="/posts/">Posts <span class="subheader">more</span></a></h2>
    <ul class="posts">
    {% for post in site.posts limit: 7 %}
        <li><span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div></div>

<div class="grid_4"><div class="block" id="photo-grid">
        <h2><a href="http://flickr.com/photos/christopherpeplin" target="_blank">Photography <span class="subheader">more</span></a></h2>
    <noscript>
        <p>This photo grid requires JavaScript, and your browser doesn't
        seem to support it. Click the link above to see some pretty
        pictures.</p>
    </noscript>
</div></div>
<div class="clear"></div>

<div class="grid_4"><div class="bottom block">
    <h2>Identity</h2>
    <ul>
        <li>Christopher Peplin</li>
        <li>(for Google, I am also Chris Peplin)</li>
        <li>OpenPGP Key: <a href="http://keyserver.ubuntu.com:11371/pks/lookup?op=get&amp;search=0x0E4DC980D963BFAF">D963BFAF</a></li>
        <li>FCC Call Sign: KB3TLD</li>
        <li><img src="https://secure.gravatar.com/avatar/86c4047481dee2e494439bb221a641c0/" alt="Chris' Headshot" /></li>
    </ul>
</div></div>

<div class="grid_4"><div class="bottom block">
    <h2>R&eacute;sum&eacute;</h2>
    <ul class="resume work">
        <li>Research Scientist at Ford Motor Company</li>
        <li>Director of Development at <a href="https://www.bueda.com/">Bueda</a></li>
        <li>Worked at Toyota on active safety systems</li>
    </ul>
    <ul class="resume education">
        <li>Studied at <a href="http://www.ini.cmu.edu/">Carnegie Mellon University</a></li>
        <li>and the <a href="http://www.eecs.umich.edu/">University of Michigan</a></li>
    </ul>
    <ul class="resume education">
        <li>
            A
            <a href="http://things.rhubarbtech.com/peplin-resume.pdf">
                <img class="inline" src="/images/pdf.png" alt="PDF" /></a>
            that says as much.
        </li>
    </ul>
</div></div>

<div class="grid_4"><div class="bottom block contact">
    <h2>Contact</h2>
    <ul>
        <li><a class="twitter" href="http://twitter.com/peplin">@peplin</a></li>
        <li><a id="email" href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#114;&#104;&#117;&#98;&#97;&#114;&#98;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#109;'>&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#114;&#104;&#117;&#98;&#97;&#114;&#98;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#109;</a></li>
        <li id="irc">grovers on <a href="http://freenode.net/irc_servers.shtml">Freenode IRC</a></li>
        <li id="google-voice"><object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=6ac18f60e62c23995bcd79f741e1ec4888ea92e7&amp;style=0" /></object></li>
    </ul>
</div></div>
<div class="clear"></div>
<footer class="push_4 grid_8">
{% include footer.html %}
</footer>

