<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/posts/">Posts</a></li>
    <li><a href="https://github.com/peplin">GitHub</a></li>
    <li><a href="http://flickr.com/photos/christopherpeplin">Flickr</a></li>
    <li><a class="twitter" href="http://twitter.com/peplin">Twitter</a></li>
    <li class="last-child">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
            {% if site.production %}
            <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" />
            {% else %}
            <img alt="Creative Commons License" src="/images/creativecommons-80x15.png" />
            {% endif %}
        </a>
    </li>
</ul>
<p>
    PDF icon by <a href="http://ipapun.deviantart.com/">ipapun</a>.
    E-mail icon and favicon by <a href="http://jg-visuals.deviantart.com/">jg-visuals</a>.
    IRC typewriter icon by 177icons.
</p>
