<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>
        <meta name="author" content="Christopher Peplin" />

        <link type="text/css" href="/css/vendor/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/vendor/jplayer/jplayer.blue.monday.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/screen.css" rel="stylesheet" />
        <link type="text/css" href="/css/vendor/pygments.css" rel="stylesheet" media="screen" />
        <link type="text/css" href="/css/vendor/font-awesome.min.css" rel="stylesheet" />

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23218185-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-23218185-1');
        </script>

    </head>
    <body>
        <div class="container">
            {{ content }}

            <div class="row">
                <footer class="col-md-8 col-md-push-4">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts/">Posts</a></li>
                        <li><a href="https://github.com/peplin"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://flickr.com/photos/christopherpeplin"><i title="Flickr" class="fa fa-camera"></i></a></li>
                        <li class="last-child">
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                                <img alt="Creative Commons License" src="/images/creativecommons-80x15.png" />
                            </a>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery-2.1.4.min.js"></script>

        <script type="text/javascript" src="/js/vendor/jPlayer/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBubiWhOSfnpj5LqS2KNY9VtjqfSWVD5xU"></script>

        <script type="text/javascript" src="/js/vendor/jPlayer/jplayer.playlist.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/vendor/loadgpx.js"></script>
        <script type="text/javascript" src="/js/gpx.js"></script>
    </body>
</html>
