<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Christopher Peplin" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="ZrBx4s3LxgvSod1jCy3fru-vRnrOsOZ7nrzVAPDDmfg" />
        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
        <link rel="openid.local_id" href="http://www.google.com/profiles/108408483770573977605" />

        <link href="/css/reset.css" type="text/css" rel="stylesheet" />
        <link href="/css/text.css" type="text/css" rel="stylesheet" />
        <link href="http://cachedcommons.org/cache/960/0.0.0/stylesheets/960-min.css" type="text/css" rel="stylesheet" />
        <link href="/css/screen.css" type="text/css" rel="stylesheet" />
        <link href="/css/syntax.css" type="text/css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
    </head>
    <body>
    <div id="wrapper">
        <div class="container_12">

            {{ content }}

            <footer class="prefix_4 grid_8">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://github.com/peplin">GitHub</a></li>
                    <li><a href="http://flickr.com/photos/christopherpeplin">Flickr</a></li>
                    <li><a class="twitter" href="http://twitter.com/peplin">Twitter</a></li>
                    <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a></li>
                </ul>
                <p>
                    PDF icon by <a href="http://ipapun.deviantart.com/">ipapun</a>.
                    E-mail icon and favicon by <a href="http://jg-visuals.deviantart.com/">jg-visuals</a>.
                    IRC typewriter icon by <a href="http://177icons.com/">177icons</a>.
                </p>
            </footer>
        </div>

    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23218185-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    </body>
</html>
