<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Christopher Peplin" />
        <link href="http://feeds.feedburner.com/peplin" rel="alternate" title="Christopher Peplin" type="application/atom+xml" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="ZrBx4s3LxgvSod1jCy3fru-vRnrOsOZ7nrzVAPDDmfg" />
        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
        <link rel="openid.local_id" href="http://www.google.com/profiles/108408483770573977605" />

        <link href="/css/reset.css" type="text/css" rel="stylesheet" />
        <link href="/css/text.css" type="text/css" rel="stylesheet" />
        <link href="http://cachedcommons.org/cache/960/0.0.0/stylesheets/960-min.css" type="text/css" rel="stylesheet" />
        <link href="/css/screen.css" type="text/css" rel="stylesheet" />
        <link href="/css/syntax.css" type="text/css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <script type="text/javascript"
            src="http://cachedcommons.org/cache/webfont/1.0.6/javascripts/webfont-min.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    <div id="wrapper">
        <div class="container_12">
            {{ content }}
        </div>

    </div>

    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23218185-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    </body>
</html>
